<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493251234683-0m8h9ik8665fo74j4dc7g0kb6pqsap49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493251234683-0m8h9ik8665fo74j4dc7g0kb6pqsap49</string>
	<key>API_KEY</key>
	<string>AIzaSyAmTiyGFrTYarHMOD25PGqpQEULlDktpSk</string>
	<key>GCM_SENDER_ID</key>
	<string>493251234683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.padosee</string>
	<key>PROJECT_ID</key>
	<string>padosee-6e284</string>
	<key>STORAGE_BUCKET</key>
	<string>padosee-6e284.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493251234683:ios:06566338bcdba8ed934bde</string>
</dict>
</plist>